.circle-div {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: rgb(180, 53, 53);
    transition: height 0.3s, width 0.3s, background-color 3s;
}
 .circle-div-clicked {
    height: 400px;
    width: 400px;
    border-radius: 400px;
    background-color: rgb(44, 44, 132);
 }
