.filter-btn {
    background-color: rgb(249, 142, 66);
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
}

.filter-btn-clicked {
    opacity: 0.8;
}

body {
    background-color: gray;
}